<div id="tx_nb_downloader_overlay">
    <div class="container content-sm" id="tx_nb_downloaderLicence" >
        <div class="row margin-bottom-40">
            <div class="col-md-12">
                <div class="testimonials testimonials-v1 testimonials-bg-default">
                    <div class="carousel-inner">
                        <div class="item active">
                            <p class="rounded-3x">
                                
                                    <button 
                                        class="btn-u btn-default rounded-3x " 
                                        type="button" 
                                        style="float:right;"
                                        onclick="nbDownloadClose()">
                                        <i class="fa fa-times"></i>
                                    </button>
                                Copyright notice<br />
                                You are downloading a NetBrothers project. 
                                This project is ree software; you can redistribute it 
                                and/or modify it under the terms of the 
                                GNU General Public License as published by the 
                                Free Software Foundation; either version 3 of the License, 
                                or (at your option) any later version.<br />
                                The GNU General Public License can be found at
                                <a href="http://www.gnu.org/copyleft/gpl.html" target="_blank" title="Link: The GNU General Public License">
                                    http://www.gnu.org/copyleft/gpl.html   
                                </a>.<br /><br />
                                This script is distributed in the hope that it will be useful,
                                but WITHOUT ANY WARRANTY; without even the implied warranty of
                                MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                                GNU General Public License for more details.
                            </p>
                            <div class="testimonial-info">
                                <a href="#" id="nbLicenceDownloadLink" style="float:right;" >
                                    <button class="btn-u btn-danger rounded-3x btn-u-blue" type="button">
                                        <i class="fa fa-download"></i>
                                        Download
                                    </button>
                                </a>
                                <img class="rounded-x" alt="" src="{settings.imgDeveloper}">
                                <span class="testimonial-author" id="nbLicenceAuthor" style="color:#fff;">
                                    <div id='nbAuthorName'></div>
                                    <em style="color:#fff;">Developer Team.</em>
                                </span>

                            </div>
                        </div>                

                    </div>  
                </div>                
            </div>
        </div>
    </div>
</div>